body {

}
p {
    text-align: center; 
    font-size: 20px;
    background-color: burlywood;
}

h1{
    text-align: center;
    background-color: black;
    color:red;
}

#Nossa {
color:rgb(255,255,200)
}
b {
    color:rgb(0, 0, 0)
}

.cerveja {
 width: 50%;
 height: 50%;
 flex: 2;

}

.itens {
    font-style: italic;
}

.beneficios {
    background: #bcbcbc;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.principal {
    background-color: brown;
    padding: 30px;
}

h2 {
    text-align: center;
}
.ul--beneficios {
    flex: 1;
    display: incline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.viking {
    flex:3;
    width: 20%;
    height: 20%;
}
.viking--img{
    width: 80%;
    height: 80%;
}
.cerveja--img{
    width: 100%;
    height: 100%;
}
.ul--produtos{
    display: inline;
}
.header--produtos{
    background-color: brown ;
}